</br>
</br>
</br>

<% 10.times do %>
    Any Questions???
<% end %>

</br>
</br>f

<% 10.times do %>
  Contact Me!!
<% end %>

</br>
</br>
</br>

<form method="POST" action="/contact">
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="password">Password</label>
  <input type="password" name="password">
  <input type="submit">
</form>

</br>
</br>
</br>
</br>
</br>

<form method="POST" action="/contact">
<label for="contact" style="font-size: 30px">Contact Us</label>
<textarea type="textarea" name="contact" style="font-size: 15px" rows="15" cols="80"></textarea>
<input type="submit" style="font-size: 20px">
</form>







        