        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <script>
            $(document).ready(function(){
                console.log("The document is ready");
                $(".button2").fadeOut(1000);
                $(".button2").fadeIn(1000);
                $(".button2").slideUp(2000);
                $(".button2").slideDown(3000);
                $(".button2").slideUp(1000);
                $(".button2").slideDown(3000);
            });
        </script>

    
            <img src="images/time.jpg" class="banner" />
            
            <div class="price">
                <img src="images/citypass.jpg" class="citypass" />
                <p class="price2"><span class="bold">Adult</span> ages 18+ <span class="amount"> $120</span></p>
                <p class="price2"><span class="bold">Youth</span> ages 6-17 <span class="amount"> $90</span></p>
                <a href="www.google.com" class="button2">BUY NOW</a>
            </div>

            <div class="works">
                <p class="works2">Why NY CityPass?</p>
            </div>

            <div class="works3">
                <div class="div1">
                    <p class="works4">Why NY CityPass?</p>
                    <p class="works4">We are different. We are not typical NY guide.</p> 
                    <p class="works4">We won't take you to places that only tourists go. We take you where true New Yorkers go. </p>
                </div>
                <div class="div2">
                    <img class="img1" src="images/nystreet.jpg" />
                </div>
            </div>

            <div class="works">
                <p class="works2">What do I get?</p>
            </div>

            <div class="works5">
                <div class="div3">
                    <img class="img2" src="images/ferry.jpg" />
                </div>
                <div class="div4">
                    <p class="works8">NY CityPass is a booklet of tickets.</p>
                    <p class="works8">There are 5 locations. All those locations will have one of our tour guide. You will meet our guides at appointed time/day.</p>
                    <p class="works8">Our guides will take you around the areas, give 1hr ~ 2hr guide around the area.</p>
                    <p class="works8">After that, you are on your own to explore!! Our guides will give you recommendations for coolest restaurants, sightseeing, bars, you name it!</p>
                    <p class="works8">Along with these 5 tickets for our truly unique and knowledgeble guides, you also get transportation pass!!</p>
                    <p class="works8">1 Week Unlimited Metrocard</p>
                    <p class="works8">2 Days Unlimited East River Ferry Tickets</p>
                </div>
            </div>

            <div class="works">
                <p class="works2">What are those 5 locations?</p>
            </div>

            <div class="works6">
                <div class="div5">
                    <ul>
                        <li class="works7">Time Square</li>
                            <ul>
                                <li class="works7">Ok. This is a typical tourist attraction. But you cannot miss Time Square if you are in New York!</li>
                                <li class="works7">Subways N,Q,R,W,S,1,2,3,7</li>
                            </ul>
                        <br>
                        <li class="works7">China Town / Little Italy</li>
                            <ul>
                                <li class="works7">Subways R,Q,N,J,Z,6</li>
                            </ul>
                        <br>
                        <li class="works7">DUMBO - Brooklyn</li>
                            <ul>
                                <li class="works7">DUMBO is : Down Under the Manhattan Bridge Overpass</li>
                                <li class="works7">Subway F</li>
                                <li class="works7">East River Ferry</li>
                            </ul>
                        <br>
                        <li class="works7">Williamsburg - Brooklyn</li>
                            <ul>
                                <li class="works7">Subway L</li>
                                <li class="works7">East River Ferry</li>
                            </ul>
                        <br>
                        <li class="works7">LIC - Queens</li>
                            <ul>
                                <li class="works7">LIC is : Long Island City</li>
                                <li class="works7">Subway 7</li>
                                <li class="works7">East River Ferry</li>
                            </ul>
                    </ul>
                </div>
                <div class="div6">
                    <img class="img3" src="images/dumbo.jpg" />
                </div>
            </div>

             <img src="images/taxi_nyc.jpg" class="banner2" />
        </div>

        

