            <img src="images/lic.jpg" class="banner3" />

            <div class="header">
              <h1>Long Island City</h1>
            </div>

            <div class="works9" style="margin-top: 200px;" >
                <p class="works2">Getting to Long Island City</p>
            </div>

            <div class="works10">
                <p class="works8">Long Island City is 5 minute subway ride away from Manhattan!</p>
                <p class="works8">Take 7 subway from Time Square, after 3 stops, you will get off on Vernon/Jackson stop and you are already in LIC!</p>
                <p class="works8">When you get out of the subway, our guide will be waiting for you. Make sure to reserve the time/day with our guide at least 24 hours prior! Please email us at blahblah@blahblah.com, or call us at 123-456-7890.</p>
                <p class="works8">Our guide will give you brief history about the area and will tour the waterfront area. It has the most beautiful view of Manhattan!</p>
                <p class="works8">After the tour, our guide will give you recommendations of places in Long Island City, and you are on your own to explore.</p>
                <p class="works8">Tip : From Long Island City, you can take 7 train back to Manhattan. Or you can take East River Ferry to Brooklyn.</p>
                <p class="works8">East River Ferry could take you to either Williamsburg, Dumbo, or even Midtown Manhattan.</p>
                <p class="works8">For more info on transportations : </p>
                <p class="works8">Subways : <a href="www.mta.info" /> www.mta.info </a></p>
                <p class="works8">Ferry : <a href="http://www.eastriverferry.com" /> www.eastriverferry.com </a></p>
            </div>

            <div class="works9" style="margin-top: 10px;">
              <p class="works2">Recommended Places in LIC</p>
            </div>

            <div class="works5">
                <div class="div3">
                    <img class="img4" src="images/Alobar.jpg" />
                </div>
                <div class="div4">
                    <p class="works8">Alobar</p>
                    <p class="works8">Their brunch is to die for. Their dinner menus change all the time, you don't know what to expect each time!</p>
                    <p class="works8">They have the great selection of unique beers with great snacks. Our favorite is Bacon Popcorn. Must try!</p>
                </div>
            </div>

            <div class="works11">
                <div class="div7">
                    <p class="works8">LIC Landing</p>
                    <p class="works8">LIC Landing is right in front of the waterfront!</p> 
                    <p class="works8">Get coffee, beer, wine, name it, they have it!</p>
                    <p class="works8">Enjoy their burgers and snacks as well!</p>
                </div>
                <div class="div2">
                    <img class="img2" src="images/liclanding.jpg" />
                </div>
            </div>

            <div class="works5">
                <div class="div8">
                    <img class="img2" src="images/moma.jpg" />
                </div>
                <div class="div4">
                    <p class="works8">Alobar</p>
                    <p class="works8">Their brunch is to die for. Their dinner menus change all the time, you don't know what to expect each time!</p>
                    <p class="works8">They have the great selection of unique beers with great snacks. Our favorite is Bacon Popcorn. Must try!</p>
                </div>
            </div>

          <img src="images/lic2.jpg" class="banner2" />
        </div>   

          
